.details-panel {
  font-size: 14px;
  padding-bottom: $base-font-size;
  padding: 0 $base-font-size * 0.5;

  @media (min-width: 35.5em) {
    padding: 0;
    padding-bottom: $base-font-size;
  }
}

.details-panel-heading {
  width: 100%;

  &:first-child {
    margin-top: 0;
  }
}

.details-panel-item {
  margin: $base-font-size * 0.5 0;
  word-wrap: break-word;

  @media (min-width: 35.5em) {
    padding-left: $base-font-size * 12;

    &.not-aligned {
      padding-left: $base-font-size;
    }
  }

  label {
    text-transform: uppercase;
    font-size: $base-font-size * 0.9;
    display: block;
    color: #999999;

    @media (min-width: 35.5em) {
      float: left;
      display: inline-block;
      width: $base-font-size * 12;
      margin-left: -$base-font-size * 12;
      padding-right: $base-font-size;
      text-align: right;
      position: relative;
    }
  }

  // Remove any top spacing to ensure a smooth line from label to content.
  label + * {
    margin-top: 0;
    padding-top: 0;
  }

  img {
    vertical-align: top;
    border: 2px solid #cccccc;
    max-width: 100%;
  }
}

.details-panel-controls {
  font-size: 14px;
  padding: $base-font-size 0;
  border-top: 2px solid #e8e8e8;
  margin-top: $base-font-size;

  @media (min-width: 35.5em) {
    padding-left: $base-font-size * 12;
  }

  .pure-button {
    margin-right: $base-font-size * 0.25;
    margin-bottom: $base-font-size * 0.6;
  }
}

.portlet-body {
  .details-panel {
    padding: 0;
    padding-top: $base-font-size;
  }

  .details-panel-controls {
    background: #f4f4f4;
    border-top-width: 1px;
    margin: $base-font-size $base-font-size * -1 0 $base-font-size * -1;
    padding: $base-font-size * 0.5 $base-font-size;
    padding-bottom: 0;

    @media (min-width: 35.5em) {
      padding-left: $base-font-size * 13;

      &.not-aligned {
        padding-left: $base-font-size;
      }
    }
  }
}
