.details-panel {
  padding: 0.5em;

  div.details-row {
    margin: 0.5em 0em;

    @media (min-width: 48em) {
      padding-left: 12em;
    }

    label {
      text-transform: uppercase;
      font-size: 0.9em;
      display: block;

      @media (min-width: 48em) {
        display: inline-block;
        width: 12em;
        text-align: right;
        margin-right: 1em;
        position: relative;
        left: -13em;
        margin-right: -12em;
      }
    }

    img {
      vertical-align: top;
      border: 2px solid #cccccc;
    }
  }
}

.details-controls {
  margin-bottom: 3em;

  @media (min-width: 48em) {
    padding-left: 11em;
  }

  .pure-button {
    margin: 0 0.2em;
  }
}
