#flashes {
  &.fixed {
    position: absolute;
    width: 100%;
    padding: $base-font-size;
    padding-top: 0;

    @media (min-width: 48em) {
      top: 106px;
    }
  }
}

.flash {
  padding: 0.66em 1em;
  margin-top: $base-font-size;
  border: 1px solid transparent;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  z-index: 11;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);

  @media (min-width: 48em) {
    margin-bottom: 1em;
  }

  &.with-bottom-margin {
    margin-bottom: 1em;
  }

  &.with-top-margin {
    margin-top: 1em;

    @media (min-width: 48em) {
      margin-top: 2em;
    }
  }

  &.larger-margin {
    @media (min-width: 48em) {
      margin-bottom: 1.7em;
    }

    &.with-bottom-margin {
      margin-bottom: 1.7em;
    }
  }

  &.success {
    color: $text-success;
    background-color: $background-success;
    border-color: $border-success;
  }

  &.notice {
    color: $text-notice;
    background-color: $background-notice;
    border-color: $border-notice;
  }

  &.alert {
    color: $text-alert;
    background-color: $background-alert;
    border-color: $border-alert;
  }

  &.error {
    color: $text-error;
    background-color: $background-error;
    border-color: $border-error;
  }

  &.with-icon {
    padding-left: 3em;

    .fa {
      font-size: 1.5em;
      float: left;
      position: relative;
      top: -3px;
      left: -1.5em;
      margin-right: -2em;
    }
  }
}

.flash > p,
.flash > ul {
  margin-bottom: 0;
}

.flash > p + p {
  margin-top: 5px;
}
