#flashes {
  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 7;
    top: 106px;
    padding: $base-font-size;
    -webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
  }
}

#wrap.no-header {
  #flashes.fixed {
    top: 58px;
  }
}

.flash {
  padding: 0.66em 1em;
  border: 1px solid transparent;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  z-index: 11;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);

  @media (min-width: 48em) {
    margin-bottom: 1em;
  }

  &.with-bottom-margin {
    margin-bottom: 1em;
  }

  &.with-top-margin {
    margin-top: 1em;

    @media (min-width: 48em) {
      margin-top: 2em;
    }
  }

  &.larger-margin {
    @media (min-width: 48em) {
      margin-bottom: 1.7em;
    }

    &.with-bottom-margin {
      margin-bottom: 1.7em;
    }
  }

  &.success {
    color: #3c763d;
    background-color: #c2e6b3;
    border-color: #acd69a;
  }

  &.notice {
    color: #31708f;
    background-color: #bbdbeb;
    border-color: #a8cde0;
  }

  &.alert {
    color: #8a6d3b;
    background-color: #ece7cd;
    border-color: #ddd6b2;
  }

  &.error {
    color: #a94442;
    background-color: #e9c5c5;
    border-color: #deb0b0;
  }

  &.with-icon {
    padding-left: 3em;

    .fa {
      font-size: 1.5em;
      float: left;
      position: relative;
      top: -3px;
      left: -1.5em;
      margin-right: -2em;
    }
  }
}

.flash > p,
.flash > ul {
  margin-bottom: 0;
}

.flash > p + p {
  margin-top: 5px;
}
