.pure-form {
  font-size: 14px;

  label {
    font-size: 14px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  textarea,
  select {
    margin-bottom: 0;
  }

  .hint, .error {
    word-wrap: break-word;
  }
}

.pure-form-aligned {
  label {
    font-size: 14px;
    text-transform: uppercase;
  }

  .pure-control-group {
    label {
      line-height: 2.4em;
      margin-bottom: 0;

      &.checkbox {
        width: $base-font-size;
        margin: 0;
      }
    }
  }

  input.file {
    padding: 0.55em;
  }

  .pure-controls {
    padding-top: $base-font-size;
    padding-bottom: $base-font-size;
    border-top: 2px solid #e8e8e8;

    .pure-button {
      margin-right: $base-font-size * 0.25;
    }
  }
}

.editor-field {
  min-height: 400px;
  font-family: monospace !important;
  line-height: 1.3em;
  width: 100%;

  @media (min-width: 80em) {
    width: 64em;
  }
}
