.pure-form {
  font-size: 14px;

  label {
    font-size: 14px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  input[type="file"],
  textarea,
  select {
    margin-bottom: 0;
  }

  .hint, .error {
    word-wrap: break-word;
  }
}

.pure-form-aligned {
  label {
    font-size: 14px;
    text-transform: uppercase;
  }

  .pure-control-group {
    @media (min-width: 35.5em) {
      .input-wrapper {
        margin-left: $base-font-size * 12;
      }
    }

    label:not(.addon-label) {
      line-height: 2.4em;
      margin-bottom: 0;

      @media (min-width: 35.5em) {
        width: $base-font-size * 11;
      }

      &.checkbox,
      &.radio {
        margin: 0 1em 0 0;
        min-width: $base-font-size;
        width: auto;

        input {
          margin: -0.2em 0.5em 0 0;
          width: auto;
        }
      }
    }

    .checkbox,
    .radio {
      label {
        line-height: 2.4em;
        padding-left: 1.5em;
        text-align: left;
        width: $base-font-size * 11;

        input {
          margin: -0.2em 0.5em 0 -1.5em;
          width: auto;
        }
      }
    }
  }

  input.file {
    padding: 0.55em;
  }

  @mixin pure-form-indented {
    @media (min-width: 35.5em) {
      padding-left: $base-font-size * 12;
    }
  }

  .pure-controls {
    padding-top: $base-font-size;
    padding-bottom: $base-font-size;
    border-top: 2px solid #e8e8e8;

    @include pure-form-indented;

    .pure-button {
      margin-right: $base-font-size * 0.25;
    }
  }

  .pure-form-indented {
    @include pure-form-indented;
  }
}

.editor-field {
  min-height: 400px;
  font-family: monospace !important;
  line-height: 1.3em;
  width: 100%;

  @media (min-width: 80em) {
    width: 64em;
  }
}
