#main-menu, #sub-menu {
  width: 100%;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  position: relative;

  nav {
    padding: 0;
    height: 100px;
  }

  ul.pure-menu-list {
    max-height: 40px;

    @media (min-width: 48em) {
      max-height: 32px;
    }
  }

  .pure-menu-link {
    color: #ffffff;
    padding: 0.85em 1em;
    cursor: pointer;

    @media (min-width: 48em) {
      padding: 0.55em 1em;
    }

    .fa {
      margin-right: 0.2em;
    }
  }

  .fade-left, .fade-right {
    position: absolute;
    top: 0;
    width: 64px;
    height: 40px;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.9em;
    pointer-events: none;
    display: none;

    @media (min-width: 35.5em) {
      pointer-events: auto;
    }

    @media (min-width: 48em) {
      height: 32px;
      line-height: 1.5em;
    }

    .fa {
      cursor: pointer;
      padding: 0.25em;
    }
  }

  .fade-left {
    left: 0;
    text-align: left;
    background: image-url('menu-fade-left.png');

    .fa {
      padding-left: 0.5em;
    }
  }

  .fade-right {
    right: 0;
    text-align: right;
    background: image-url('menu-fade-right.png');

    .fa {
      padding-right: 0.5em;
    }
  }
}

#main-menu {
  border-top: 2px solid darken($menu-color, 20%);
  background: $menu-color;
  max-height: 42px;

  @media (min-width: 48em) {
    max-height: 34px;
  }

  .sub-menu {
    display: none !important;
  }

  li.pure-menu-item {
    &.current, &.menu-active {
      .pure-menu-link {
        background: darken($menu-color, 7.5%);
      }
    }
  }

  .pure-menu-link {
    &:active, &:focus, &:hover {
      background: darken($menu-color, 7.5%);
    }
  }

  &.navigating {
    li.pure-menu-item {
      &.current:not(.menu-active) {
        .pure-menu-link:not(:hover) {
          background: none;
        }
      }
    }
  }
}

#sub-menu {
  background: darken($menu-color, 7.5%);
  border-top: 1px solid darken($menu-color, 12.5%);
  max-height: 41px;

  @media (min-width: 48em) {
    max-height: 33px;
  }

  li.pure-menu-item {
    &.current {
      .pure-menu-link {
        background: darken($menu-color, 12.5%);
      }
    }
  }

  .pure-menu-link {
    &:active, &:focus, &:hover {
      background: darken($menu-color, 12.5%);
    }
  }
}

#main-menu-container:hover #sub-menu {
  display: block;
}
