#main-menu {
  height: 42px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  position: relative;
  border-top: 2px solid darken(#50a8d1, 20%);
  background: #50a8d1;

  @media (min-width: 48em) {
    height: 34px;
  }

  nav {
    padding: 0;
    height: 100px;
  }

  ul.pure-menu-list {
    height: 40px;
    position: relative;
    left: 0;
    top: 0;

    @media (min-width: 48em) {
      height: 32px;
    }
  }

  li.pure-menu-item {
    &.current {
      .pure-menu-link {
        background: darken(#50a8d1, 7.5%);
      }
    }
  }
  .pure-menu-link {
    color: #ffffff;
    padding: 0.8em 1em;

    @media (min-width: 48em) {
      padding: 0.55em 1em;
    }

    &:hover {
      background: darken(#50a8d1, 10%);
    }

    &:active, &:focus, &.current {
      background: darken(#50a8d1, 7.5%);
    }

    .fa {
      margin-right: 0.2em;
      width: $base-font-size;
    }
  }

  .fade-left, .fade-right {
    position: absolute;
    top: 0;
    width: 64px;
    height: 40px;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.9em;
    pointer-events: none;
    display: none;

    @media (min-width: 35.5em) {
      pointer-events: auto;
    }

    @media (min-width: 48em) {
      height: 32px;
      line-height: 1.5em;
    }

    .fa {
      cursor: pointer;
      padding: 0.25em;
    }
  }

  .fade-left {
    left: 0;
    text-align: left;
    background: image-url('menu-fade-left.png');

    .fa {
      padding-left: 0.5em;
    }
  }

  .fade-right {
    right: 0;
    text-align: right;
    background: image-url('menu-fade-right.png');

    .fa {
      padding-right: 0.5em;
    }
  }
}
