div.pagination-info {
  font-size: 12px;
  display: block;
  color: #777777;
  line-height: 3em;

  @media (min-width: 35.5em) {
    float: left;
    line-height: 2em;
  }
}

nav.pagination {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 100%;

  @media (min-width: 35.5em) {
    float: right;
  }

  span {
    display: inline-block;
    background: #fefefe;
    border: 1px solid #dbdbdb;
    height: 20px;

    &:hover {
      background: #efefef;
    }

    &.prev, &.next {
      position: relative;
      top: 1px;

      a {
        position: relative;
        top: -1px;
        font-family: 'FontAwesome';
      }
    }

    &.current {
      display: inline-block;
      padding: 4px 6px;
      background: #efefef;
      line-height: 100%;
    }

    &.gap {
      display: inline-block;
      padding: 4px 4px;
      border: none;
      background: transparent;
    }

    a {
      display: inline-block;
      padding: 4px 6px;
      color: #555555;

      &:hover {
        color: #555555;
      }
    }
  }
}
