$icon-chevron-up: '\f077';
$icon-chevron-down: '\f078';
$icon-minus: '\f068';

.portlet {
  background: $white;
  border: 1px solid $grey-medium;
  clear: both;
  margin-bottom: $base-font-size * 2;
  margin-top: $base-font-size;
  position: relative;

  @media (min-width: 48em) {
    margin-left: $base-font-size * 0.4;
    margin-right: $base-font-size * 0.4;
  }

  &.expanded {
    .portlet-indicator:before {
      content: $icon-chevron-up;
    }

    .portlet-body {
      display: block;
    }
  }

  &.loading {
    .portlet-indicator:before {
      // Line ( - )
      content: $icon-minus;
    }

    .portlet-body {
      background-image: image-url('pending.gif');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: auto;
      margin: 0 auto;
      padding: 1em;
      width: 3em;

      -webkit-transition: all 0.2s linear;
         -moz-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
           -o-transition: all 0.2s linear;
              transition: all 0.2s linear;
    }
  }
}

.portlet-heading {
  background: $grey-light;
  min-height: $base-font-size * 2;
  padding: $base-font-size * 0.4 0;

  h4 {
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    line-height: $base-font-size * 1.5;
    padding: 0 $base-font-size * 0.8;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    top: 1px;
    display: table-cell;
    width: 100%;
  }
}

.portlet.expanded {
  .portlet-heading {
    border-bottom: 1px solid $grey-medium;
  }
}

.portlet[data-closable=true] {
  .portlet-heading {
    cursor: pointer;

    &:hover {
      background: lighten($grey-light, 1.5%);
    }
  }
}

.portlet-heading-icon.fa {
  line-height: $base-font-size * 1.5;
  border-right: 1px solid $grey-medium-dark;
  padding: 0 $base-font-size * 0.8;
  display: table-cell;
  vertical-align: middle;
}

.portlet-controls {
  line-height: $base-font-size * 1.5;
  border-left: 1px solid $grey-medium-dark;
  padding: 0 $base-font-size * 0.8;
  padding-right: 0;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;

  .portlet-control-item {
    display: inline-block;
    margin-right: $base-font-size * 0.8;

    .pure-button,
    .pure-menu-link {
      font-size: 0.75rem;
    }

    .dropdown {
      float: none;
    }

    .pure-menu-has-children {
      display: block;
    }
  }
}

.portlet-indicator {
  padding-right: $base-font-size * 0.8;

  &:hover {
    cursor: pointer;
  }

  &:before {
    font-family: FontAwesome;
    content: $icon-chevron-down;
  }
}

.portlet-body {
  display: none;
  font-size: 14px;
  padding: 0 $base-font-size;

  &.vertically-padded {
    padding: 16px;
  }

  &.top-padded {
    padding-top: 16px;
  }

  &.bottom-padded {
    padding-bottom: 16px;
  }
}
