.portlet {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  clear: both;
  margin-top: $base-font-size;
  margin-bottom: $base-font-size * 2;
  position: relative;

  @media (min-width: 48em) {
    margin-left: $base-font-size * 0.4;
    margin-right: $base-font-size * 0.4;
  }
}

.portlet-title {
  background: #efefef;
  border-bottom: 1px solid #d9d9d9;
  min-height: 36px;
  padding: $base-font-size * 0.4 $base-font-size * 0.8;
  position: relative;

  h4 {
    margin: 0;
    text-transform: uppercase;
    line-height: 1.4em;
    font-weight: 400;
    font-size: 1em;

    .fa {
      border-right: 1px solid #cdcdcd;
      padding: 10px;
      padding-left: 0;
      margin-right: 10px;
      position: relative;
      top: 0px;
    }
  }
}

.portlet-body {
  font-size: 14px;
  padding: 0 $base-font-size;
}

.portlet-controls {
  position: absolute;
  right: $base-font-size * 0.8;
  top: $base-font-size * 0.4;
}

.portlet.collapsed {
  .portlet-body {
    display: none;
  }
}
