* {
  font-family: "Exo 2", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: #fafafa;
}

a {
  color: darken(#50a8d1, 10%);
  text-decoration: none;

  &:hover {
    color: #50a8d1;
  }
}

h1, h2, h3 {
  font-family: "Exo 2", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 1.75em;
  margin: 0.7em 0;
}

h2 {
  font-size: 1.6em;
  margin: 0.7em 0;
}

h3 {
  font-size: 1.4em;
}

h4, h5 {
  text-transform: uppercase;
}

h4, h5, h6 {
  font-family: "Exo 2", "Helvetica", "Arial", sans-serif;
}

.pure-form {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  textarea,
  select {
    font-family: "Exo 2", "Helvetica", "Arial", sans-serif;
  }
}

.pure-g [class*="pure-u"] {
  font-family: "Exo 2", "Helvetica", "Arial", sans-serif;
}

#wrap {
  position: relative;
  padding-top: 106px;
  padding-left: 0;
  left: 0;
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

#main-header {
  padding: 0.5em;
  height: 48px;
  background: #272a2a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid darken(#50a8d1, 20%);
  z-index: 10;
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;

  h1 {
    margin: 0;
  }

  .pure-menu-heading {
    font-weight: 400;
    font-size: 120%;
    float: left;
    padding-top: 5px;
    padding-left: 8px;

    a {
      color: #ffffff;
    }
  }

  .pure-menu-selected a {
    color: white;
  }

  #account-menu {
    ul {
      float: right;
      position: relative;
      top: -1px;

      li {
        color: #cccccc;

        &.user-details {
          padding: 0 1em;
        }

        &:last-child {
          padding-right: 0;

          a {
            padding-right: 0;
          }
        }

        a {
          color: #eeeeee;
        }

        a:hover, a:focus {
          background: none;
          border: none;
          color: #ffffff;
        }

        .fa {
          margin-right: 0.2em;
          position: relative;
          top: 1px;
        }
      }
    }
  }
}

#main-menu {
  top: 48px;
  background: #50a8d1;
  height: 40px;
  font-size: 14px;
  border-bottom: 1px solid darken(#50a8d1, 10%);
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;

  @media (min-width: 48em) {
    height: 32px;
  }

  ul.pure-menu-list {
    height: 40px;
    position: relative;
    left: 0;
    top: 0;

    &.with-animation {
      -webkit-transition: all 0.1s linear;
         -moz-transition: all 0.1s linear;
          -ms-transition: all 0.1s linear;
           -o-transition: all 0.1s linear;
              transition: all 0.1s linear;
    }

    @media (min-width: 48em) {
      height: 32px;
    }
  }

  .pure-menu-link {
    color: #ffffff;
    padding: 0.8em 1em;

    @media (min-width: 48em) {
      padding: 0.5em 1em;
    }

    &:hover {
      background: darken(#50a8d1, 10%);
    }

    &:active, &:focus {
      background: darken(#50a8d1, 5%);
    }

    .fa {
      margin-right: 0.2em;
    }
  }

  .fade-left, .fade-right {
    position: absolute;
    top: 0;
    width: 64px;
    height: 40px;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.9em;
    cursor: pointer;
    display: none;

    @media (min-width: 48em) {
      height: 32px;
      line-height: 1.5em;
    }
  }

  .fade-left {
    left: 0;
    padding-left: 0.5em;
    text-align: left;
    background: image-url('menu-fade-left.png');
  }

  .fade-right {
    right: 0;
    padding-right: 0.5em;
    text-align: right;
    background: image-url('menu-fade-right.png');
  }
}

#wrap.no-header {
  padding-top: 58px;

  #main-header {
    top: -48px;
  }

  #main-menu {
    top: 0;
  }
}

#wrap,
#side-menu {
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

#side-menu {
  margin-left: -205px;
  width: 205px;
  position: fixed;
  top: 54px;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #3c3c3c;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border: none;
  font-size: 14px;

  a {
    color: #aaaaaa;
    border: none;
    padding: 10px 0 10px 15px;
  }

  &.pure-menu ul {
    border: none;
    background: transparent;
  }

  &.pure-menu ul,
  &.pure-menu .menu-item-divided {
    border-top: 1px solid #434343;
  }

  &.pure-menu li a:hover,
  &.pure-menu li a:focus {
    background: #434343;
    color: #ffffff;
  }

  .pure-menu-heading {
    border-bottom: 1px solid #666666;
    color: #fff;
    margin: 0;
  }

  .pure-menu-selected {
    background: #434343;
  }

  .pure-menu-selected a {
    color: #fff;
  }

  .fa {
    margin-right: 7px;
    width: 1em;
  }
}

.side-menu-link {
  display: block;
  font-size: 120%;
  color: white;
  cursor: pointer;
  float: left;
  position: relative;
  top: 5px;
  left: 5px;
  background: #000;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 1px;
}

#main {
  padding-left: $base-font-size;
  padding-right: $base-font-size;
  padding-bottom: $base-font-size;

  @media (min-width: 35.5em) {
    padding-left: $base-font-size * 1.5;
    padding-right: $base-font-size * 1.5;
  }

  @media (min-width: 64em) {
    padding-left: $base-font-size * 2;
    padding-right: $base-font-size * 2;
    padding-bottom: $base-font-size * 1.5;
  }
}

#main-title {
  background: #e4e4e4;
  padding: $base-font-size * 0.5 $base-font-size;
  margin-bottom: $base-font-size * 0.5;
  margin-top: $base-font-size * 2;
  border: 1px solid #dbdbdb;

  h1 {
    padding: 0;
    margin: 0;
    line-height: 1.1em;
    float: left;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

#main-content {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.6em;
}

#main-footer {
  border-top: 1px solid #e5e5e5;
  padding: 1em;
  margin-top: 1em;
  font-size: 14px;
  color: #aaaaaa;
}
