* {
  font-family: "Exo 2", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: #fafafa;
}

a {
  color: darken($link-color, 10%);
  text-decoration: none;

  &:hover {
    color: $link-color;
  }
}

h1, h2, h3 {
  font-family: "Exo 2", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 1.75em;
  margin: 0.7em 0;
}

h2 {
  font-size: 1.6em;
  margin: 0.7em 0;
}

h3 {
  font-size: 1.4em;
}

h4, h5 {
  text-transform: uppercase;
}

h4, h5, h6 {
  font-family: "Exo 2", "Helvetica", "Arial", sans-serif;
}

.pure-form {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="week"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  textarea,
  select {
    font-family: "Exo 2", "Helvetica", "Arial", sans-serif;
  }
}

.pure-g [class*="pure-u"] {
  font-family: "Exo 2", "Helvetica", "Arial", sans-serif;
}

#wrap {
  position: relative;
  padding-top: 106px;
  padding-left: 0;
  left: 0;
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

#main-header {
  background: #272a2a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;

  h1 {
    margin: 0;
  }

  .pure-menu-heading {
    padding: 12px 0 9px 16px;
    height: 46px;
    font-weight: 400;
    font-size: 120%;
    float: left;

    a {
      color: #ffffff;
    }
  }

  .pure-menu-selected a {
    color: white;
  }

  #account-menu {
    ul {
      float: right;
      position: relative;
      top: 6px;
      right: 8px;

      li {
        color: #cccccc;

        &.user-details {
          padding: 0 1em;
        }

        &:last-child {
          padding-right: 0;

          a {
            padding-right: 0;
          }
        }

        a {
          color: #eeeeee;
        }

        a:hover, a:focus {
          background: none;
          border: none;
          color: #ffffff;
        }

        .fa {
          margin-right: 0.2em;
          position: relative;
          top: 1px;
        }
      }
    }
  }
}

#wrap.no-header {
  padding-top: 58px;

  #main-header {
    top: -48px;
  }
}

#wrap {
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

#main {
  padding-left: $base-font-size;
  padding-right: $base-font-size;
  padding-bottom: $base-font-size;

  @media (min-width: 35.5em) {
    padding-left: $base-font-size * 1.5;
    padding-right: $base-font-size * 1.5;
  }

  @media (min-width: 64em) {
    padding-left: $base-font-size * 2;
    padding-right: $base-font-size * 2;
    padding-bottom: $base-font-size * 1.5;
  }
}

#main-title {
  background: #e4e4e4;
  padding: $base-font-size * 0.5 $base-font-size;
  margin-bottom: $base-font-size * 0.5;
  margin-top: $base-font-size * 2;
  border: 1px solid #dbdbdb;

  h1 {
    padding: 0;
    margin: 0;
    line-height: 1.1em;
    float: left;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

#main-content {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.6em;
}

#main-footer {
  border-top: 1px solid #e5e5e5;
  padding: 1em;
  margin-top: 1em;
  font-size: 14px;
  color: #aaaaaa;
}
