.pure-table {
  margin: 0.5em 0;
  width: 100%;
  background: #fff;
  border: 1px solid #d9d9d9;
  font-size: 14px;

  thead {
    background: #f6f6f6;
    border-bottom: 1px solid #CDCDCD;
  }

  th {
    text-align: left;
  }

  td {
    padding: 0.4em 1em;
  }
}

.pure-table-striped {
  tr:nth-child(2n-1) td {
    background-color: transparent;
  }

  tr:nth-child(even) td {
    background-color: #f6f6f6;
  }
}

.table-actions {
  font-size: 0.8em;
  text-align: right;

  .pure-button {
    padding: 0.4em 1em;
    position: relative;
    top: 1px;
  }
}

#main-title {
  .table-actions {
    position: relative;
    right: $base-font-size * -0.4;
  }
}

.table-filter {
  margin-bottom: 1em;
  font-size: 0.8em;

  .pure-form {
    margin: 0;
    display: inline-block;
    width: auto;

    input {
      display: inline-block;
      width: auto;
    }
  }

  .pure-button, .pure-button[type=submit] {
    padding: 0.5em 1em;
    margin-left: -4px
  }
}
