#main-content,
.portlet-body {
  &:after {
    content: '';
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    display: block;

    transition: opacity 200ms;

    background-color: rgba(white, 0.75);

    background-image: image-url('pending.gif');
    background-position: center 5em;
    background-repeat: no-repeat;
    background-size: 4.5em;
  }

  &.loading {
    position: relative;

    &:after {
      opacity: 1;
    }
  }
}

.table-filters {
  border: 1px solid $grey-medium;
  padding: 0.5rem;
  position: relative;
  width: auto;
  display: block;

  @media (min-width: 35.5em) {
    padding-right: calc(50px + 0.5rem);
    display: inline-block;
  }

  .filter-group {
    display: block;

    @media (min-width: 35.5em) {
      margin-right: 1em;
      float: left;
    }

    label {
      text-transform: uppercase;
      font-size: 0.9rem;
      color: #999;
    }

    .filter-control {
      height: 2.4em;
    }

    @media (min-width: 35.5em) {
      .addon-wrapper {
        display: block;

        .input-addon,
        .filter-control {
          display: inline-block;
          width: initial;
        }

        .input-addon {
          line-height: 2.3em;
        }
      }
    }
  }

  .filter-submit {
    margin-right: 0;
    margin-top: 0.5rem;

    @media (min-width: 35.5em) {
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
    }
  }
}
