.text-success {
  color: $text-success;
}

.text-notice {
  color: $text-notice;
}

.text-alert {
  color: $text-alert;
}

.text-error {
  color: $text-error;
}

.text-muted {
  color: $text-muted;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
