// ---- TYPOGRAPHY ----
$base-font-size: 16px;

// ---- COLOURS ----
$white: #fff;
$black: #000;

$grey-light: #efefef;
$grey-medium: #d9d9d9;
$grey-medium-dark: #cdcdcd;

$text-success: #3c763d;
$background-success: #c2e6b3;
$border-success: #acd69a;

$text-notice: #31708f;
$background-notice: #bbdbeb;
$border-notice: #a8cde0;

$text-alert: #8a6d3b;
$background-alert: #ece7cd;
$border-alert: #ddd6b2;

$text-error: #a94442;
$background-error: #e9c5c5;
$border-error: #deb0b0;
