.portlet {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;

  @media (min-width: 48em) {
    margin-left: 5px;
    margin-right: 5px;
  }

  &.single {
    margin-left: 0;
    margin-right: 0;
  }

  &.first {
    margin-left: 0;
  }

  &.last {
    margin-right: 0;
  }

  .portlet-title {
    background: #f6f6f6;
    border-bottom: 1px solid #CDCDCD;
    height: 36px;

    h4 {
      margin: 0;
      margin-left: 10px;
      text-transform: uppercase;
      line-height: 34px;
      font-weight: 400;
      font-size: 1em;

      .fa {
        border-right: 1px solid #CDCDCD;
        padding: 10px;
        padding-left: 0;
        margin-right: 10px;
        position: relative;
        top: 0px;
      }
    }
  }

  .portlet-body {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
}