.markItUpHeader {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin: 0.3em;
      background-size: 16px;
      background-position: 50%;
      background-repeat: no-repeat;

      &:hover {
        opacity: 0.8;
      }

      a {
        text-indent: -100em;
        overflow: hidden;
        display: inline-block;
        width: 16px;
        height: 16px;
      }
    }
  }

  .markItUpButton1 {
    background-image: asset-url('bbcode_editor_icons/bold.png');
  }

  .markItUpButton2 {
    background-image: asset-url('bbcode_editor_icons/italic.png');
  }

  .markItUpButton3 {
    background-image: asset-url('bbcode_editor_icons/underline.png');
    display: none;

    @media (min-width: 48em) {
      display: inline-block;
    }
  }

  .markItUpButton4 {
    background-image: asset-url('bbcode_editor_icons/strikethrough.png');
    display: none;

    @media (min-width: 48em) {
      display: inline-block;
    }
  }

  .markItUpButton5 {
    background-image: asset-url('bbcode_editor_icons/unordered_list.png');
    display: none;

    @media (min-width: 48em) {
      display: inline-block;
    }
  }

  .markItUpButton6 {
    background-image: asset-url('bbcode_editor_icons/ordered_list.png');
    display: none;

    @media (min-width: 48em) {
      display: inline-block;
    }
  }

  .markItUpButton7 {
    background-image: asset-url('bbcode_editor_icons/list_item.png');
    display: none;

    @media (min-width: 48em) {
      display: inline-block;
    }
  }

  .markItUpButton8 {
    background-image: asset-url('bbcode_editor_icons/image.png');
  }

  .markItUpButton9 {
    background-image: asset-url('bbcode_editor_icons/link.png');
  }

  .markItUpButton10 {
    background-image: asset-url('bbcode_editor_icons/quote.png');
  }

  .markItUpSeparator {
    position: relative;
    top: -1px;
    display: none;

    @media (min-width: 48em) {
      display: inline-block;
    }
  }
}

.markItUpEditor {
  font-family: monospace !important;
  line-height: 1.2em;
}
