@font-face {
  font-family: 'Bebas Neue';
  src: font-url('bebas/BebasNeue-webfont.eot');
  src: font-url('bebas/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('bebas/BebasNeue-webfont.woff') format('woff'),
       font-url('bebas/BebasNeue-webfont.ttf') format('truetype'),
       font-url('bebas/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
