@font-face {
  font-family: 'Exo 2.0';
  src: font-url('exo/exo2-light-webfont.eot');
  src: font-url('exo/exo2-light-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('exo/exo2-light-webfont.woff') format('woff'),
       font-url('exo/exo2-light-webfont.ttf') format('truetype'),
       font-url('exo/exo2-light-webfont.svg#exo_2light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0';
  src: font-url('exo/exo2-lightitalic-webfont.eot');
  src: font-url('exo/exo2-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('exo/exo2-lightitalic-webfont.woff') format('woff'),
       font-url('exo/exo2-lightitalic-webfont.ttf') format('truetype'),
       font-url('exo/exo2-lightitalic-webfont.svg#exo_2light_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Exo 2.0';
  src: font-url('exo/exo2-regular-webfont.eot');
  src: font-url('exo/exo2-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('exo/exo2-regular-webfont.woff') format('woff'),
       font-url('exo/exo2-regular-webfont.ttf') format('truetype'),
       font-url('exo/exo2-regular-webfont.svg#exo_2regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0';
  src: font-url('exo/exo2-italic-webfont.eot');
  src: font-url('exo/exo2-italic-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('exo/exo2-italic-webfont.woff') format('woff'),
       font-url('exo/exo2-italic-webfont.ttf') format('truetype'),
       font-url('exo/exo2-italic-webfont.svg#exo_2italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Exo 2.0';
  src: font-url('exo/exo2-bold-webfont.eot');
  src: font-url('exo/exo2-bold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('exo/exo2-bold-webfont.woff') format('woff'),
       font-url('exo/exo2-bold-webfont.ttf') format('truetype'),
       font-url('exo/exo2-bold-webfont.svg#exo_2bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0';
  src: font-url('exo/exo2-bolditalic-webfont.eot');
  src: font-url('exo/exo2-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('exo/exo2-bolditalic-webfont.woff') format('woff'),
       font-url('exo/exo2-bolditalic-webfont.ttf') format('truetype'),
       font-url('exo/exo2-bolditalic-webfont.svg#exo_2bold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}
