#flashes {
  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 3.5em;
  }

  .container {
    padding: 0 0.5em;
  }
}

.flash {
  padding: 0.66em 1em;
  border: 1px solid transparent;
  font-size: 14px;
  position: relative;

  @media (min-width: 48em) {
    margin-bottom: 1em;
  }
}

.flash > p,
.flash > ul {
  margin-bottom: 0;
}

.flash > p + p {
  margin-top: 5px;
}

.flash.success {
  color: #3c763d;
  background-color: #c2e6b3;
  border-color: #acd69a;
}

.flash.notice {
  color: #31708f;
  background-color: #bbdbeb;
  border-color: #a8cde0;
}

.flash.alert {
  color: #8a6d3b;
  background-color: #ece7cd;
  border-color: #ddd6b2;
}

.flash.error {
  color: #a94442;
  background-color: #e9c5c5;
  border-color: #deb0b0;
}
