@import 'common/bebas_neue.css.scss';
@import 'common/exo.css.scss';
@import 'common/fontawesome.css.scss';
@import 'common/pure.css.scss'; // Base, forums, buttons, tables, menus
@import 'common/grid.css.scss'; // Pure's grid is a little odd so I've included it by itself in case I want to tweak it
@import 'common/reset.css.scss'; // Reset some of Pure's styling to better suit my goals
@import 'common/buttons.css.scss'; // Additional button sizes and colours for Pure
@import 'common/flash_messages.css.scss'; // Bootstrap-like alerts
@import 'common/bbcode_editor.css.scss';
@import 'common/lightbox.css.scss';

.cf:before, .cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}